[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
sqlalchemy = "*"
pipenv = "*"
requests = "*"
"voiceit2" = "*"
passlib = "*"
flask-httpauth = "*"
flask-sqlalchemy = "*"

[dev-packages]
"flake8" = "*"
pylint = "*"

[requires]
python_version = "3.6"
